spring:
  profiles:
    default: local

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true